<header>
    <a href="/">
        <img class="logo" src="https://cdn.discordapp.com/attachments/1085584293205647483/1085638071816564776/EndGame-transformed.png" alt="Logo">
    </a>    
    <nav>
      <ul class="nav_links">
        <li><a href="/">Home</a></li>
        <li><a href="/classView">Shop</a></li>
        <li><a href="/sell">Sell</a></li>           
      </ul>
    </nav>
    <% if (user) { %>
      <a class="cta" href="/logout"><button class="sign">Log Out</button></a>
    <% } else { %>
      <a class="cta" href="/login"><button class="sign">Log In</button></a>
      <a class="cta" href="/signup"><button class="sign">Signup</button></a>
    <% } %>
    <button class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
</header>
