<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>EndGame Auction</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include ('./partials/header.ejs') %>
    <main>
      <!-- Your main content here -->
    </main>
    <%- include ('./partials/footer.ejs') %>
    <script src="/js/style.js"></script>
  </body>
</html>
  