<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>EndGame Auction - Selling</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <div class="message-container">
        <h2><%= message %></h2>
      </div>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
